/* --------------------------------- General -------------------------------- */

body{
    margin: 0;
    background-color: #fbfbfb;
    padding: 0.5em 8em;
}
@media (max-width: 1300px) {
    body{
        padding: 0.5em 1em;
    }
}

h1, h3, h4, h5, h6 {
    font-family: "Montserrat", serif;
    color: #020e18;
    font-weight: normal;
}

h2{
    font-family: "Open Sans", serif;
    color: #020e18;
    font-weight: normal;
}

p {
    font-family: "Open Sans", serif;
    color: #020e18;
}

a {
    font-family: "Montserrat", serif;
    color: #020e18;
}


/* --------------------------------- header --------------------------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2em;
    background-color: #fbfbfb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav img {
    width: 75px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li {
    
    padding: 0 1em;
}

.nav-a ul li{
    background-color: #fbfbfb;
}

.traduction {
    
    a{
        background-color: #020e18;
        color: #fbfbfb;
        border-radius: 2em;
        padding: 0.5em 1em;
        font-size: small;
    }
}
@media (max-width: 1300px) {
    nav ul.nav-a {
        background-color: #fbfbfb;
        display: none;
        border-radius: 2em;
        padding-right: 1em;
        flex-direction: column;
        position: absolute;
        top: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    nav ul.traduction {
        display: none;
        border-radius: 2em;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
    }

    nav ul.traduction  li{
       padding: 0.5em;
       text-align: right;
    }

    nav ul.nav-a li {
        list-style: none;
        padding: 0.5em;
    }

    nav ul.nav-a.show {
        display: flex;
    }

    nav ul.traduction.show {
        display: flex;
    }

    nav .menu-icon {
        display: block;
        cursor: pointer;
    }

    nav .menu-icon img {
        width: 30px;
    }
}

/* Hide menu icons by default */
nav .menu-icon {
    display: none;
}

@media (max-width: 1300px) {
    nav .menu-icon {
        display: block;
        padding: 1em;
    }
}

/* --------------------------------- Landing -------------------------------- */

#landing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    padding: 10em 8em 3em 8em;
}

.landing-button1 {
    text-decoration: none;
    background-color: #020e18;
    color: #fbfbfb;
    padding: 0.5em 1.5em;
    border: 2px solid #020e18;
    border-radius: 2em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.landing-button2 {
    text-decoration: none;
    background-color: #fbfbfb00;
    color: #020e18;
    border: 2px solid #020e18;
    padding: 0.5em 1.5em;
    border-radius: 2em;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.landing-button2:hover {
    background-color: #020e18;
    color: #fbfbfb;
}

.landing-button1:hover {
    background-color: #fbfbfb;
    color: #020e18;
    border: 2px solid #020e18;
}

.landing-img {
    background: url(/assets/profile-pic.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 2em;
}

#landing h1 {
    font-size: 50px;
    margin: 0;
}

#landing h2 {
    font-size: 20px;
    color: rgb(61, 61, 61);
    margin: 0;
}

#landing p {
    font-size: 16px;
    padding: 0em 0 1.5em 0;
}

@media (max-width: 1300px) {
    #landing {
        display: flex;
        flex-direction: column;
        padding: 3em 2em;
    }

    #landing h1 {
        font-size: 25px;
    }

    #landing h2 {
        font-size: 18px;
    }

    #landing p {
        font-size: 14px;
    }

    .landing-buttons {
        display: flex;
        gap: 1em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em 0;
        font-size: 14px;

    }
}

/* ---------------------------------- Skils --------------------------------- */

#skills {
    padding: 2em 8em 0 8em;
}

#skills h1 {
    font-size: 50px;
    margin: 0;
    text-align: center;
    padding: 1.5em 0;
}

#skills h2{
    border-bottom: #020e18 solid 2px;

}

.skills-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 120px;
}

.skill-item img {
    width: 50px;
    object-fit: contain;
    margin-bottom: 0.5em;
}

.skill-item p {
    font-size: 16px;
    color: #020e18;
    margin: 0;
}

@media (max-width: 1300px) {

    #skills {
        padding: 1em 2em;
    }

    #skills h1 {
        font-size: 25px;
    }

    #skills h2{
        font-size: 18px;
    }

    .skills {
        gap: 1em;
    }

    .skill-item {
        width: 100px;
    }

    .skill-item img {
        width: 40px;
    }

    .skill-item p {
        font-size: 15px;
    }
}

/* -------------------------------- Timeline -------------------------------- */
#timeline {
    padding: 2em 8em 0 8em;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#timeline h1 {
    grid-column: 1 / span 2;
    font-size: 50px;
    margin: 0;
    text-align: center;
    padding: 1.5em 0;
}

#timeline h2{
    grid-column: 1;
    font-family: "Montserrat", serif;
    font-size: 30px;
    text-align: right;
    margin-right: 1em;
    padding: 0;
}

#timeline .year-desc {
    grid-column: 2;
    border-left: #000 solid 2px;
    padding-left: 1em;
    margin: auto 0 1em 0;
}

#timeline .year-desc h3 {
    margin: 0;
    font-family: "Montserrat", serif;
}

#timeline .year-desc p {
    margin-top: 0;
    color:  rgb(61, 61, 61);
    font-family: "Open Sans", serif;

}

@media (max-width: 1300px) {
    #timeline {
        padding: 1em 2em;
        display: flex;
        flex-direction: column;
    }

    #timeline h1 {
        font-size: 20px;
    }

    #timeline h2 {
        text-align: left;
        font-size: 15px;
    }

    #timeline h3 {
        font-size: 15px;
    }

    #timeline p {
        font-size: 12px;
    }

}

/* --------------------------------- Contact -------------------------------- */

.footer-content {
    background-color: #020e18;
    color: #fbfbfb;
    padding: 2em 8em 2em 8em;
    border-radius: 2em;
    text-align: center;
}

.socials a {
    color: #fbfbfb;
    padding: 0.5em;
}

.copyright {
    color: #fbfbfb;
    font-size: small;
    margin-top: 2em;
}

@media (max-width: 1300px) {
    .footer-content {
        padding: 1em 2em;
    }

    .socials {
        display: flex;
        justify-content: center;
        gap: 1em;
    }

    .socials a {
        padding: 0.5em;
    }
}

/* -------------------------------- Projects -------------------------------- */

#Projects {
    padding: 2em 8em 2em 8em;
}

#Projects h1 {
    font-size: 50px;
    margin: 0;
    padding: 1.5em 0;
    text-align: center;
}

.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.project {
    border-radius: 2em;
    padding: 1em;
    border: #020e18 solid 2px;
    text-align: center;
}

.project-portfolio{
    background-image: url(assets/project-1/project-result.PNG);
}

.project-touchtech{
    background-image: url(assets/project-2/TouchTech.PNG);
}

.project-studio-com{
    background-image: url(assets/project-4/instagram.png);
}

.project-studio{
    background-image: url(assets/project-3/site-web-1.png);
}

.project-spacegame{
    background-image: url(assets/project-5/game-1.png);
}

.project-memoire{
    background-image: url(assets/project-6/memoir-3.png);
}

.project-notioncolab{
    background-image: url(assets/project-7/notion-colab-1.png);
}

.project-memoire-master{
    background-image: url(assets/project-8/memoire-1.png);
}

.p-img {
    background-size: cover;
    background-position: center;
    width: 100%; /* Make the width responsive */
    padding-top: 45%; /* Maintain aspect ratio for a horizontal rectangle */
    border-radius: 1.5em;
    overflow: hidden; /* Ensure no overflow */
}

.project:hover {
    transform: scale(1.04);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}






@media (max-width: 1300px) {
    #Projects {
        padding: 1em 2em;
    }

    #Projects h3 {
        font-size: 15px;
    }

    .project-container {
        grid-template-columns: 1fr;
    }

    .project {
        padding: 1em;
    }
}

/* ------------------------------ Project Page ------------------------------ */
.project-page {
    padding: 2em 8em 2em 8em;
}

.project-page h1 {
    font-size: 50px;
    margin: 0;
    padding: 1.5em 0;
    text-align: center;
}

.project-page h2 {
    text-align: center;
}

.project-page section {
    padding: 2em 2em;
    border-top: #020e18 solid 2px;
}

.galery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding: 1em 2em;
}

.galery img {
    width: 100%;
    border-radius: 1em;
}

.abstract {
    font-style: italic;
    text-justify: inter-word;
    text-align: justify;
}

@media (max-width: 1300px) {
    .project-page {
        padding: 1em;
    }

    .project-page h1 {
        font-size: 25px;
    }
    .project-page p {
        font-size: 14px;
    }
    .project-page h2 {
        font-size: 20px;
    }

    .galery {
        grid-template-columns: 1fr;
        padding: 1em 0;
    }
    .project-page section {
        padding: 1em 0;
    }
    .abstract {
        font-style: italic;
        text-justify: inter-word;
        text-align: justify;
    }
}